{% extends 'base.html' %}

{% load static %}

{% block content %}
    <!--shloka of the day-->
    <div class="first-container">
        <div class="first-container-content font-light">
             <!--heading-->
            <h1 class="mt-5">Shloka of the Day</h1>

            <!--main-content-->
            <p class="text-xl italic mt-5 ml-3">"The devotees who worship Me with love reside in Me and I reside in them"</p>

            <!--Source-->
            <h4 class="text-lg mt-6">Bhagavad Gita 9.29</h4>
        </div>
    </div>

     <!--Famous Stotras as per Gods-->

    <div class="main-container-heading">
        <h1>Sri Ram Stotras</h1>
    </div>
    <div class="main-container">
        <div class="wrapper">
            <i id="left" class="fa-solid fa-angle-left"></i>
            <ul class="carousel">
                <li class="card">
                    <div class="img"><img src="{% static 'ram.jpeg' %}" alt="img" draggable="false"></div>

                    <!--Stotra Name-->
                    <h2>Sri Ram Stuti</h2>
                    <!--Author Name-->
                    <span>Goswami Tulsidas Ji</span>
                </li>

                <li class="card">
                    <div class="img"><img src="{% static 'ram.jpeg' %}" alt="img" draggable="false"></div>

                    <!--Stotra Name-->
                    <h2>Sri Ram Stuti</h2>
                    <!--Author Name-->
                    <span>Goswami Tulsidas Ji</span>
                </li>

                <li class="card">
                    <div class="img"><img src="{% static 'ram.jpeg' %}" alt="img" draggable="false"></div>

                    <!--Stotra Name-->
                    <h2>Sri Ram Stuti</h2>
                    <!--Author Name-->
                    <span>Goswami Tulsidas Ji</span>
                </li>

                <li class="card">
                    <div class="img"><img src="{% static 'ram.jpeg' %}" alt="img" draggable="false"></div>

                    <!--Stotra Name-->
                    <h2>Sri Ram Stuti</h2>
                    <!--Author Name-->
                    <span>Goswami Tulsidas Ji</span>
                </li>

                <li class="card">
                    <div class="img"><img src="{% static 'ram.jpeg' %}" alt="img" draggable="false"></div>

                    <!--Stotra Name-->
                    <h2>Sri Ram Stuti</h2>
                    <!--Author Name-->
                    <span>Goswami Tulsidas Ji</span>
                </li>

                <li class="card">
                    <div class="img"><img src="{% static 'ram.jpeg' %}" alt="img" draggable="false"></div>

                    <!--Stotra Name-->
                    <h2>Sri Ram Stuti</h2>
                    <!--Author Name-->
                    <span>Goswami Tulsidas Ji</span>
                </li>
            </ul>
            <i id="right" class="fa-solid fa-angle-right"></i>
        </div>
    </div>

    <!--View All Stotra of God [Button]-->
    <div class="container-footer">
        <button class="text-lg">View all Stotras of Shri Ram</button>
    </div>

    <hr>

    <div class="main-container-heading">
        <h1>Sri Ram Stotras</h1>
    </div>

    <div class="main-container">
        <div class="wrapper">
            <i id="left" class="fa-solid fa-angle-left"></i>
            <ul class="carousel">
                <li class="card">
                    <div class="img"><img src="{% static 'ram.jpeg' %}" alt="img" draggable="false"></div>

                    <!--Stotra Name-->
                    <h2>Sri Ram Stuti</h2>
                    <!--Author Name-->
                    <span>Goswami Tulsidas Ji</span>
                </li>

                <li class="card">
                    <div class="img"><img src="{% static 'ram.jpeg' %}" alt="img" draggable="false"></div>

                    <!--Stotra Name-->
                    <h2>Sri Ram Stuti</h2>
                    <!--Author Name-->
                    <span>Goswami Tulsidas Ji</span>
                </li>

                <li class="card">
                    <div class="img"><img src="{% static 'ram.jpeg' %}" alt="img" draggable="false"></div>

                    <!--Stotra Name-->
                    <h2>Sri Ram Stuti</h2>
                    <!--Author Name-->
                    <span>Goswami Tulsidas Ji</span>
                </li>

                <li class="card">
                    <div class="img"><img src="{% static 'ram.jpeg' %}" alt="img" draggable="false"></div>

                    <!--Stotra Name-->
                    <h2>Sri Ram Stuti</h2>
                    <!--Author Name-->
                    <span>Goswami Tulsidas Ji</span>
                </li>

                <li class="card">
                    <div class="img"><img src="{% static 'ram.jpeg' %}" alt="img" draggable="false"></div>

                    <!--Stotra Name-->
                    <h2>Sri Ram Stuti</h2>
                    <!--Author Name-->
                    <span>Goswami Tulsidas Ji</span>
                </li>

                <li class="card">
                    <div class="img"><img src="{% static 'ram.jpeg' %}" alt="img" draggable="false"></div>

                    <!--Stotra Name-->
                    <h2>Sri Ram Stuti</h2>
                    <!--Author Name-->
                    <span>Goswami Tulsidas Ji</span>
                </li>
            </ul>
            <i id="right" class="fa-solid fa-angle-right"></i>
        </div>
    </div>

    <!--View All Stotra of God [Button]-->
    <div class="container-footer">
        <button class="text-lg">View all Stotras of Shri Ram</button>
    </div>

    <!--Blog Section-->
    <div class="top-blog-section-header">
        <h1 class="">Civilization</h1>
    </div>

    <!--OnLeft-->
    <div class="on-left">
        <a href="">
            <p>See All</p>
        </a>
    </div>
    <hr>

    <!--Blog-List-Container-->
    <div class="top-blog-list-container">
        <div class="grid-container">
            <article>
                <a href="">
                    <!--BLog Image-->
                    <img src="{% static "blogtitle.jpg" %}" alt="" class="top-blog-image-with-shadow">

                    <!--Blog Title-->
                    <h1 class="top-blog-title">Trespassing the Sacred Grounds: The Unforgivable Encroachment of Hindu Lands
                    </h1>

                    <!--Author Name-->
                    <h4 class="top-blog-author">Saurav Choudhary</h4>

                    <!--BLog Date-->
                    <p class="top-blog-date"> 5 June 2023</p>
                </a>
            </article>

            <article>
                <a href="">
                    <!--BLog Image-->
                    <img src="{% static "blogtitle.jpg" %}" alt="" class="top-blog-image-with-shadow">

                    <!--Blog Title-->
                    <h1 class="top-blog-title">Trespassing the Sacred Grounds: The Unforgivable Encroachment of Hindu Lands
                    </h1>

                    <!--Author Name-->
                    <h4 class="top-blog-author">Saurav Choudhary</h4>

                    <!--BLog Date-->
                    <p class="top-blog-date"> 5 June 2023</p>
                </a>
            </article>

            <article>
                <a href="">
                    <!--BLog Image-->
                    <img src="{% static "blogtitle.jpg" %}" alt="" class="top-blog-image-with-shadow">

                    <!--Blog Title-->
                    <h1 class="top-blog-title">Trespassing the Sacred Grounds: The Unforgivable Encroachment of Hindu Lands
                    </h1>

                    <!--Author Name-->
                    <h4 class="top-blog-author">Saurav Choudhary</h4>

                    <!--BLog Date-->
                    <p class="top-blog-date"> 5 June 2023</p>
                </a>
            </article>

            <article>
                <a href="">
                    <!--BLog Image-->
                    <img src="{% static "blogtitle.jpg" %}" alt="" class="top-blog-image-with-shadow">

                    <!--Blog Title-->
                    <h1 class="top-blog-title">Trespassing the Sacred Grounds: The Unforgivable Encroachment of Hindu Lands
                    </h1>

                    <!--Author Name-->
                    <h4 class="top-blog-author">Saurav Choudhary</h4>

                    <!--BLog Date-->
                    <p class="top-blog-date"> 5 June 2023</p>
                </a>
            </article>
        </div>
    </div>

        <!--Blog Section-->
    <div class="top-blog-section-header">
        <h1 class="">Civilization</h1>
    </div>

    <!--OnLeft-->
    <div class="on-left">
        <a href="">
            <p>See All</p>
        </a>
    </div>
    <hr>

    <!--Blog-List-Container-->
    <div class="top-blog-list-container">
        <div class="grid-container">
            <article>
                <a href="">
                    <!--BLog Image-->
                    <img src="{% static "blogtitle.jpg" %}" alt="" class="top-blog-image-with-shadow">

                    <!--Blog Title-->
                    <h1 class="top-blog-title">Trespassing the Sacred Grounds: The Unforgivable Encroachment of Hindu Lands
                    </h1>

                    <!--Author Name-->
                    <h4 class="top-blog-author">Saurav Choudhary</h4>

                    <!--BLog Date-->
                    <p class="top-blog-date"> 5 June 2023</p>
                </a>
            </article>

            <article>
                <a href="">
                    <!--BLog Image-->
                    <img src="{% static "blogtitle.jpg" %}" alt="" class="top-blog-image-with-shadow">

                    <!--Blog Title-->
                    <h1 class="top-blog-title">Trespassing the Sacred Grounds: The Unforgivable Encroachment of Hindu Lands
                    </h1>

                    <!--Author Name-->
                    <h4 class="top-blog-author">Saurav Choudhary</h4>

                    <!--BLog Date-->
                    <p class="top-blog-date"> 5 June 2023</p>
                </a>
            </article>

            <article>
                <a href="">
                    <!--BLog Image-->
                    <img src="{% static "blogtitle.jpg" %}" alt="" class="top-blog-image-with-shadow">

                    <!--Blog Title-->
                    <h1 class="top-blog-title">Trespassing the Sacred Grounds: The Unforgivable Encroachment of Hindu Lands
                    </h1>

                    <!--Author Name-->
                    <h4 class="top-blog-author">Saurav Choudhary</h4>

                    <!--BLog Date-->
                    <p class="top-blog-date"> 5 June 2023</p>
                </a>
            </article>

            <article>
                <a href="">
                    <!--BLog Image-->
                    <img src="{% static "blogtitle.jpg" %}" alt="" class="top-blog-image-with-shadow">

                    <!--Blog Title-->
                    <h1 class="top-blog-title">Trespassing the Sacred Grounds: The Unforgivable Encroachment of Hindu Lands
                    </h1>

                    <!--Author Name-->
                    <h4 class="top-blog-author">Saurav Choudhary</h4>

                    <!--BLog Date-->
                    <p class="top-blog-date"> 5 June 2023</p>
                </a>
            </article>
        </div>
    </div>
    <div class="extra-content">
        <p>Extra Content for SEO will appear here. Content will be stored in database</p>
    </div>

{% endblock %}